* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.4;
  color: #1f1f1f;
}
.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 10px;
}
.form-container {
  display: flex;
  width: 100%;
}
.input-text {
  flex: 8;
  font-size: 14px;
  padding: 12px 15px;
  border: 1px solid #cecece;
  outline: none;
  font-weight: 400;
  max-width: 80%;
}
.input-text::placeholder {
  color: #999;
}
.input-submit {
  flex: 2;
  border: none;
  background: #038203;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  width: 20%;
  outline: none;
}

.todo-item {
  list-style-type: none;
  padding: 17px 0px;
  border-bottom: 1px solid #eaeaea;
}
.todo-item input {
  margin-right: 15px;
}
.todo-item button {
  background: #d35e0f;
  color: #fff;
  border: 1px solid #d35e0f;
  padding: 3px 7px;
  cursor: pointer;
  float: right;
  outline: none;
}

.todo-item .assign-user {
  cursor: pointer;
  float: right;
  margin: 0 12px;
  position: relative;
}

.user-list-container {
  position: absolute;
  right: 0;
  background-color: white;
  border: solid 1px lightgray;
  min-width: 150px;
  border-radius: 6px;
  z-index: 1;
}

.user-list {
  list-style-type: none;
  padding: 12px 12px;
  border-bottom: 1px solid #eaeaea;
  white-space: nowrap;
  font-size: 14px;
}

.user-list:hover {
  background-color: #cecece;
}

.assigned-user-logo-container {
  position: relative;
}

.clear-icon {
  position: absolute;
  top: -5px;
  font-size: 12px;
  color: red;
  right: -4px;
}

.assigned-user-logo {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border: solid 1px lightgray;
}

.assigned-user-logo span {
  font-size: 12px;
}
